<!-- layout.nj -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ebb & Flow Pictures | Charleston, SC</title>
    <meta name="description" content="Production and locations scouting in Charleston, SC">
    <style>
      @font-face {
      font-family: 'icomoon';
        src:    url('/fonts/icomoon.eot?tsu3wn');
        src:    url('/fonts/icomoon.eot?tsu3wn#iefix') format('embedded-opentype'),
            url('/fonts/icomoon.ttf?tsu3wn') format('truetype'),
            url('/fonts/icomoon.woff?tsu3wn') format('woff'),
            url('/fonts/icomoon.svg?tsu3wn#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <section class="tiny-header">
        <nav class="tiny-header__nav">
            <ul class="tiny-header__nav__list">
                <li>
                  <a class="link-on-dark" href="mailto:timgrady@me.com"><i class="tiny-header__icon icon icon-mail"></i> Email</a>
                </li>
                <li>
                  <a class="link-on-dark" href="instagram.com/ebbandflowsc/" target="_blank"><i class="tiny-header__icon icon icon-instagram"></i> Instagram</a>
                </li>
            </ul>
        </nav>
      </section>
      <section class="header">
        <nav class="header__nav">
            <ul class="header__nav__list">
                <li><a href="/">Home</a></li>
                <li><a href="/services.html">Services</a></li>
                <li><a href="/locations.html">Locations</a></li>
            </ul>
        </nav>
        <div class="header__title">
            <h1 class="header__title__wordmark wordmark">Ebb &amp; Flow Pictures<br /><span>Charleston, <span class="header__title__state-full">South Carolina</span><span class="header__title__state-short">SC</span></span></h1>
        </div>
        <div class="header__logo">
            <img class="header__logo__img" src="/images/compass.svg" alt="Ebb & Flow Pictures logo" />
        </div>
      </section>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Footer</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || alert('Oh, no! The page can\'t find an important file. Things might not quite work properly.')</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>