<!-- locations.html -->
<section class="locations">
  <div class="grid">
    <div class="grid__sizer"></div>
    <div class="grid__item grid__item--double-wide">
      <img class="lazy" data-original="/images/locations/abe-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/jeep.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/plantation.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/teen-vogue-beach.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/teen-vogue-dock.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/teen-vogue-plantation.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/berg-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/berg-3.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/warrior-road-forest.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/jeep-harbor.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/ulla.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/cigar-factory.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/camp.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/shrimp-boat.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img class="lazy" data-original="/images/locations/warrior-road-beach.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/picnic.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/boat.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/cobbles.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/jetty.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img class="lazy" data-original="/images/locations/xmas.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/morris.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/puppy.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/set.jpg" alt="">
    </div>
    <div class="grid__item">
      <img class="lazy" data-original="/images/locations/dock.jpg" alt="">
    </div>
  </div>
</section>
