<!-- locations.html -->
<section class="locations">
  <div class="grid">
    <div class="grid__sizer"></div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/zion-4.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/josh-1.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/grand-1.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/zion-1.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/canyon-1.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/mo-1.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/salton-1.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/josh-4.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/josh-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/mo-4.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/zion-6.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/grand-2.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/zion-0.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/canyon-0.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/zion-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/josh-5.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/mo-5.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/zion-5.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/salton-0.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/josh-3.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/zion-3.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/grand-3.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/grand-0.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/mo-0.jpg" alt="">
    </div>
  </div>
</section>
