<!-- locations.html -->
<section class="locations">
  <div class="grid">
    <div class="grid__sizer"></div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/abe-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/jeep.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/abe.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/plantation.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/teen-vogue-beach.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/teen-vogue-dock.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/teen-vogue-plantation.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/berg-1.jpg" alt="">
    </div>
    <div class="grid__item grid__item--double-wide">
      <img src="/images/locations/berg-2.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/berg-3.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/berg-4.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/berg-6.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/ulla.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/warrior-road-beach.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/c-of-c.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/warrior-road-forest.jpg" alt="">
    </div>
    <div class="grid__item">
      <img src="/images/locations/cigar-factory.jpg" alt="">
    </div>
  </div>
</section>
