.bio {
  max-width: 900px;
  font-size: 16px;
  margin: 0 auto;
  padding: 12px 18px;
  &__container {
    
  }
  &__section {
    padding: 6px 0 18px;
    margin: 0;
    border-top: 2px solid $lightGray;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
  a {
    color: $green;
    font-weight: bold;
  }
  img {
    border: 2px solid $lightGray;
    box-shadow: 0 1px 2px $gray;
  }
}

@media $tablet {
  .bio {
    font-size: 20px;
    padding: $section-padding;
    &__img {
      width: 49%;
    }
    &__section {
      margin: 45px 0;
      padding: 0;
      border-top: none;
    }
  }
}