/*byline.css*/
.byline {
  background-color: $white;
  padding: $section-padding;
  text-align: center;
  &__subheading {
    width: 100%;
  }
}

@media $tablet {
  .byline {
    &__subheading {
      width: 100%;
      padding: 0 6%;
    }
  }
}

@media $prettyBig {
  .byline {
    &__subheading {
      padding: 0 12%;
    }
  }
}

@media $large {
  .byline {
    &__subheading {
      padding: 0 20%;
    }
  }
}
