.locations {
  padding: $section-padding;
  background-color: $white;
  min-height: 400px;
  .grid__item {
    color: pink;
    &:nth-child(1n + 12) {
      display: none;
    }
  }
}

@media $tablet {
  .locations {
    .grid__item {
      color: lime;
      &:nth-child(1n + 12) {
        display: block;
      }
    }
  }
}
