/*_colors.css*/
$white:         #fcfcfa;
$pureWhite:     #fff;
$black:         #333;
$trueBlack:     #000;
$lightestGray:  #eeeaef;
$lightGray:     #cbd6d1;
$gray:          #888;
$green:         #007236;
$lightGreen:    #778c81;
$lightestGreen: #b0eece;
$darkGreen:     #35403b;
$greenyWhite:   #e0ffef;

$linkColor:       $gray;
$linkHover:       $green;
$linkOnDark:      $white;
$linkOnDarkHover: $greenyWhite;

$borderColor: rgba(244,255,244,0.5);