/*_colors.css*/
$white:         #fefefc;
$black:         #333;
$trueBlack:     #000;
$gray:          #777;
$green:         #007236;
$greenyWhite:   #e0ffef;

$linkColor:       $gray;
$linkHover:       $green;
$linkOnDark:      $white;
$linkOnDarkHover: $greenyWhite;
