$logoFont: 'Libre Baskerville', serif;
$headingFont: 'Montserrat', sans-serif;

/*link colors*/
a {
  color: $linkColor;
  text-decoration: none;
  &:link, &:visited {
    color: $linkColor;
  }
  &:hover, &:active {
    color: $linkHover;
    text-decoration: underline;
  }
  &.link-on-dark {
    color: $linkOnDark;
    &:link, &:visited {
      color: $linkOnDark;
    }
    &:hover, &:active {
      color: $linkOnDarkHover;
      text-decoration: underline;
    }
  }
}

h1, h2, h3 {
  font-family: $headingFont;
  font-weight: normal;
  color: $black;
  font-size: 27px;
  &.uppercase {
    text-transform: uppercase;
    font-size: 24px;
  }
}

h1.wordmark {
  font-family: $logoFont;
  text-transform: uppercase;
  > span {
    font-family: $headingFont;
    font-size: 14px;
    color: $gray;
  }
}
