$logoFont: 'Libre Baskerville', serif;
$headingFont: 'Montserrat', sans-serif;

$hugeHeading: 48px;
$bigHeading:  42px;
$subheading:  18px;

$largeText: 18px;
$mediumText: 15px;

/*link colors*/
a {
  color: $linkColor;
  text-decoration: none;
  &:link, &:visited {
    color: $linkColor;
  }
  &:hover, &:active {
    color: $linkHover;
    text-decoration: underline;
  }
  &.link-on-dark {
    color: $linkOnDark;
    &:link, &:visited {
      color: $linkOnDark;
    }
    &:hover, &:active {
      color: $linkOnDarkHover;
      text-decoration: underline;
    }
  }
}

h1, h2, h3 {
  font-family: $headingFont;
  font-weight: normal;
  color: $black;
  font-size: 21px;
  text-shadow: 0 -1px 0 $greenyWhite;
  &.uppercase {
    text-transform: uppercase;
    line-height: 1.1em;
  }
  &.on-dark {
    color: $white;
    text-shadow: 0 -1px 0 $trueBlack;
  }
  &.on-medium {
    color: $white;
    text-shadow: 0 -1px 0 $gray;
  }
}

@media $small {
  h1, h2, h3 {
    font-size: 27px;
  }
}

.wordmark {
  font-family: $logoFont;
  text-transform: uppercase;
  > span {
    font-family: $headingFont;
    font-size: 14px;
    color: $gray;
  }
}

h3 {
  color: $lightGreen;
  font-size: $mediumText;
}

@media $small {
  h3 {
    font-size: $subheading;
  }
}
