/*_masonry.css*/

.grid {
  &__sizer {
    display: none;
  }
  &__item {
    margin-bottom: 21px;
    > img {
      width: 100%;
      height: auto;
    }
  }
}

@media $large {
  .grid {
    display: flex;
    &__sizer {
      display: block;
    }
    &__sizer, &__item {
      lost-masonry-column: 1/3;
      &--double-wide {
        lost-masonry-column: 2/3;
      }
    }
  }
}