/*_media-queries.css*/

$mqSmall: 375px;
$mqMedium: 600px;
$mqLarge: 1200px;

$small: screen and (min-width: $mqSmall);
$medium: screen and (min-width: $mqMedium);
$large: screen and (min-width: $mqLarge);
