/*_utils.css*/
.img-left, .img-right {
  display: block;
  height: auto;
  margin-bottom: 15px;
}

@media $tablet {
  .img-left, .img-right {
    display: inline;
    margin-bottom: 9px;
  }
  .img-left {
    float: left;
    margin-right: 18px;
  }
  .img-right {
    float: right;
    margin-left: 18px;
  }
  .img-bordered {
    border: 2px solid $lightGray;
    box-shadow: 0 1px 2px $gray;
  }
}
