/*header.css*/
header {
  position: relative;
  z-index: 999;
  box-shadow: 0 -1px 7px $black;
}

.tiny-header {
  display: flex;
  justify-content: flex-end;
  background: $black;
  padding-right: 12px;
  &__nav {
    &__list {
      list-style: none;
      font-size: 60%;
      color: $white;
      & > li {
        font-family: $headingFont;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 9px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__icon {
    font-size: 10px;
    margin-left: 3px;
    margin-right: 6px;
    vertical-align: middle;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 6px 0;
  height: 69px;
  &__nav {
    lost-column: 1/4;
    &__list {
      display: none;
      list-style: none;
      padding-left: 24px;
      & > li {
        font-family: $headingFont;
        font-size: 15px;
        color: $gray;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
  &__title {
    lost-column: 2/4;
    text-align: center;
    &__wordmark { 
      font-size: 18px;
      line-height: 0.95em;
    }
    &__state-short {
      display: inline;
    }
    &__state-full {
      display: none;
    }
  }
  &__logo {
    lost-column: 1/4;
    text-align: right;
    &__img {
      width: 66px;
      height: auto;
      margin-right: 24px;
    }
  }
}

@media $medium {
  .tiny-header {
    padding-right: 30px;
  }
  .header {
    height: 81px;
    &__nav {
      lost-column: 3/10;
      &__list {
        display: block;
      }
    }
    &__title {
      lost-column: 2/5;
      &__wordmark { 
        font-size: 24px;
        line-height: 0.95em;
      }
      &__state-short {
        display: none;
      }
      &__state-full {
        display: inline;
      }
    }
    &__logo {
      lost-column: 3/10;
      &__img {
        width: 72px;
      }
    }
  }
}
