/*header.css*/
header {
  position: relative;
  z-index: 999;
  box-shadow: 0 -1px 7px $black;
}

.tiny-header {
  display: flex;
  justify-content: flex-end;
  background: $black;
  padding-right: 12px;
  &__nav {
    &__list {
      list-style: none;
      font-size: 60%;
      color: $white;
      & > li {
        font-family: $headingFont;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 9px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__icon {
    font-size: 10px;
    margin-left: 3px;
    margin-right: 6px;
    vertical-align: middle;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 6px 0;
  height: 72px;
  &__nav {
    lost-column: 1/4;
    text-align: center;
    &__hamburger {
      font-size: 36px;
      position: relative;
      z-index: 99;
      &--active {
        color: $white;
      }
    }
    &__list {
      display: none;
      margin: 0;
      &--off-canvas {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 98;
        width: 100%;
        height: 100%;
        list-style: none;
        padding: 108px 0 0;
        transition: transform 0.5s;
        transform: translateX(-110%);
        background-color: rgba(55,55,55,0.9);
        & > li {
          text-align: left;
          width: 100%;
          background-color: rgba(63,65,63,0.9);
          margin: 3px 0;
          padding: 12px 21px;
        }
      }
      &--active {
        transform: translateX(0);
      }
      & > li {
        font-family: $headingFont;
        font-size: 15px;
        color: $gray;
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
  &__title {
    lost-column: 2/4;
    text-align: center;
    &__wordmark { 
      font-size: 18px;
      line-height: 0.95em;
      transition: color 0.5s;
      > span {
        transition: color 0.5s;
      }
      &--off-canvas {
        position: relative;
        z-index: 99;
        color: $white !important;
        &--exiting {
          transition: none;
        }
        > span {
          color: $white !important;
        }
      }
    }
    &__state-short {
      display: inline;
    }
    &__state-full {
      display: none;
    }
  }
  &__logo {
    lost-column: 1/4;
    text-align: right;
    fill: $trueBlack;
    transition: fill 0.5s;
    transition-delay: 0.25s;
    &--off-canvas {
      fill: $white;
      position: relative;
      z-index: 99;
      &--exiting {
        transition: none;
      }
    }
    &__img {
      width: 66px;
      height: auto;
      margin-right: 24px;
    }
  }
}

@media $large {
  .tiny-header {
    padding-right: 30px;
  }
  .header {
    height: 81px;
    &__nav {
      lost-column: 3/10;
      &__hamburger {
        display: none;
        &:active {
          & + ul {
            display: block;
          }
        }
      }
      &__list {
        display: block;
        transition: none;
        transform: trasnlateX(0);
      }
    }
    &__title {
      lost-column: 2/5;
      &__wordmark { 
        font-size: 24px;
        line-height: 0.95em;
      }
      &__state-short {
        display: none;
      }
      &__state-full {
        display: inline;
      }
    }
    &__logo {
      lost-column: 3/10;
      &__img {
        width: 72px;
      }
    }
  }
}
