@lost flexbox flex;

* {
  box-sizing: border-box;
}

/*layout.css*/
body, .container {
	background: $white;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

body.frozen, html.frozen {
  overflow: hidden;
  height: 100%;
}

header, footer, section {
	lost-utility: clearfix;
}
