<!-- index.html -->
{% extends '_layout.html' %}

{% block content %}
  <section class="bio">
    <h1>H. Tim Grady, owner</h1>
    <div class="bio__container">
      <div class="bio__section">
        <img src="/images/jetty.jpg" alt="filming on a jetty in Charleston" />
        <p>I began my film career working on <a href="http://www.imdb.com/title/tt0112281/" target="_blank">Ace Ventura&nbsp;2, When Nature Calls</a> as an Animal Department Production Assistant. It was 1995, and I had just graduated from Clemson University with a B.S. in Business Management. I was hired to clean animal cages, order food and fill out time cards.</p>
        <p>I handled myself well on set and earned a spot with the shooting crew. I was shocked and amazed that there was a job that I could not wait to get out of bed for. I worked six days a week for three months and loved it. I would have been happy to work the seventh day without hesitation.</p>
        <p><img class="bio__img img-left" src="http://i.giphy.com/egQpL3EADpRXW.gif" alt="Tim Grady with baby monkey" />My guidance counselor from high school never told me about a job like this! The fact that Jim Carrey and Lauren Holly would actually talk to me and joke around blew my mind!</p>
      </div>
      <div class="bio__section">
        <p>After Ace, I did everything in my power to get more film production jobs. I would do almost anything for almost any rate. After working on a couple of commercials, I met a gentleman named Oliver Mayfield who owned and ran <a href="http://cprovans.com/" target="_blank">Charleston Production Vans</a>. I was off and running as a motorhome driver.</p>
        <p>It was my first job in the photography world, a completely different beast than motion film. I enjoyed driving the motorhome for film productions, mainly still photo shoots all over the southeastern United States.</p>
        <p>I spent two winters in Miami driving the motorhome and gained a great deal of experience working the full spectrum of shoots -- from the smallest, cheapest Spanish/English local Miami dating commercials, to super high-end photo shoots and a Volkswagen Commercial that seemed like a small circus.</p>
      </div>
      <div class="bio__section">
        <p>In 1996, I helped Linda Lee as a Location Production Assistant on <a href="http://www.imdb.com/title/tt0117226/" target="_blank">An Occasional Hell</a>, which led to a job working Locations on <a href="http://www.imdb.com/title/tt0187393/" target="_blank">The&nbsp;Patriot</a> in 1999 for Mary Morgan Kerlagon, Linda Lee and Patricia Fey. Suddenly, I found myself knee-deep in the Locations world.</p>
        <p>The PM on The Patriot, Jim Dyer, told me (or did I overhear him saying it?) that the only people who make money in the film business own equipment. So I started buying every piece of necessary equipment I could get my hands on.</p>
        <p>Right about this time, I started assisting for Arthur Howe of <a href="http://www.locationcarolina.com/" target="_blank">Location Carolina</a> (we still maintain a great working relationship) and learning how things went from start to finish on photo shoots in Charleston, SC. Around 2004 I shifted gears, Travel Producing for Eddie Bauer all over the United States. This led to jobs with Bedford Fair, Willow Ridge and Brownstone in 2006, which gave me insight into how things were done in other cities around the U.S.</p>
        <p>I feel this experience gave me a better vision into understanding what clients are looking for when they come to Charleston from other places. (I can’t tell you how many people told me I would never become a Producer living in Charleston, that I should move to New York or L.A.)</p>
        <p>As time went on, I built an archive of my location files on a photography website in order to show clients photos over the phone if need be. The website enabled an immediate response to possible jobs no matter where I might have been, off and running with <strong>Ebb &amp; Flow Pictures</strong>.</p>
      </div>
      <div class="bio__section">
        <p><img class="bio__img img-right" src="/images/tim-and-kb.png" alt="Tim Grady of Ebb and Flow Pictures and his dog, KB" /><a href="/">Ebb &amp; Flow Pictures, LLC</a> is a versatile Production Company. We are willing to help with Production, Locations, Props, Catering, Crew, Accommodations (I have long term relationships with local hotels), Vendors and Talent.</p>
        <p>I work on very small projects with limited budgets and pieces of projects all the way to very large productions with stronger budgets. I work on and with Photo Shoots, Local Regional and National as well as International Commercials, TV Shows, Features and whatever comes down the line.</p>
        <p>I am also a <strong>509 Teamster</strong> and am very hands-on with anything I do. I consider integrity my foremost personality trait. Please check out my LinkedIn Account for all of my recent credits.</p>
        <p><strong>Ebb &amp; Flow Pictures</strong> is a one stop shop for photo shoots, specializing in catalogs. I consider myself a <strong>Photo Producer/Location Manager/Scout</strong>, I handle <strong>Production Management</strong> and <strong>Assistant Direction</strong> when the opportunity arises. I also own and rent <a href="/props">Production Gear and Props</a>. I can source hard-to-find props like cars, boats, dogs, etc.</p>
      </div>
    </div>
  </section>



{% endblock %}
