/*hero.css*/
.hero {
  lost-align: center;
  min-height: 480px;
  background: url(/images/desert.jpg) center center no-repeat;
  background-size: cover;
  &__heading {
    color: $white;
    text-align: center;
    margin-top: -21px;
    width: 100%;
  }
}

@media $medium {
  .hero {
    &__heading {
      font-size: $bigHeading;
    }
  }
}

@media $large {
  .hero {
    background-position: center -120px;
    &__heading {
      font-size: $hugeHeading;
    }
  }
}
